/* ===================== 
Start: RESET      
======================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* =====================
End:  RESET
======================== */
/* ===================== 
Start: GRID SYSTEM      
======================== */
/* ===================== 
Start: COLUMNS      
======================== */
.vcol-xs-1 {
  width: 8.33333%;
}

.vcol-xs-2 {
  width: 16.66667%;
}

.vcol-xs-3 {
  width: 25%;
}

.vcol-xs-4 {
  width: 33.33333%;
}

.vcol-xs-5 {
  width: 41.66667%;
}

.vcol-xs-6 {
  width: 50%;
}

.vcol-xs-7 {
  width: 58.33333%;
}

.vcol-xs-8 {
  width: 66.66667%;
}

.vcol-xs-9 {
  width: 75%;
}

.vcol-xs-10 {
  width: 83.33333%;
}

.vcol-xs-11 {
  width: 91.66667%;
}

.vcol-xs-12 {
  width: 100%;
}

@media (min-width: 768px) {
  .vcol-sm-1 {
    width: 8.33333%;
  }

  .vcol-sm-2 {
    width: 16.66667%;
  }

  .vcol-sm-3 {
    width: 25%;
  }

  .vcol-sm-4 {
    width: 33.33333%;
  }

  .vcol-sm-5 {
    width: 41.66667%;
  }

  .vcol-sm-6 {
    width: 50%;
  }

  .vcol-sm-7 {
    width: 58.33333%;
  }

  .vcol-sm-8 {
    width: 66.66667%;
  }

  .vcol-sm-9 {
    width: 75%;
  }

  .vcol-sm-10 {
    width: 83.33333%;
  }

  .vcol-sm-11 {
    width: 91.66667%;
  }

  .vcol-sm-12 {
    width: 100%;
  }
}
@media (min-width: 1025px) {
  .vcol-md-1 {
    width: 8.33333%;
  }

  .vcol-md-2 {
    width: 16.66667%;
  }

  .vcol-md-3 {
    width: 25%;
  }

  .vcol-md-4 {
    width: 33.33333%;
  }

  .vcol-md-5 {
    width: 41.66667%;
  }

  .vcol-md-6 {
    width: 50%;
  }

  .vcol-md-7 {
    width: 58.33333%;
  }

  .vcol-md-8 {
    width: 66.66667%;
  }

  .vcol-md-9 {
    width: 75%;
  }

  .vcol-md-10 {
    width: 83.33333%;
  }

  .vcol-md-11 {
    width: 91.66667%;
  }

  .vcol-md-12 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .vcol-lg-1 {
    width: 8.33333%;
  }

  .vcol-lg-2 {
    width: 16.66667%;
  }

  .vcol-lg-3 {
    width: 25%;
  }

  .vcol-lg-4 {
    width: 33.33333%;
  }

  .vcol-lg-5 {
    width: 41.66667%;
  }

  .vcol-lg-6 {
    width: 50%;
  }

  .vcol-lg-7 {
    width: 58.33333%;
  }

  .vcol-lg-8 {
    width: 66.66667%;
  }

  .vcol-lg-9 {
    width: 75%;
  }

  .vcol-lg-10 {
    width: 83.33333%;
  }

  .vcol-lg-11 {
    width: 91.66667%;
  }

  .vcol-lg-12 {
    width: 100%;
  }
}
/* =====================
End:  COLUMNS
======================== */
/* ===================== 
Start: HIDDEN AND VISIBLE UTILITIES      
======================== */
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }

  .visible-lg {
    display: block !important;
  }
}
@media (min-width: 1025px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }

  .visible-md {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .hidden-sm {
    display: none !important;
  }

  .visible-sm {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }

  .visible-xs {
    display: block !important;
  }
}
/* =====================
End:  HIDDEN AND VISIBLE UTILITIES
======================== */
.relative, [class*="col-"], .vcontainer, .vcontainer-small, .cf, .row, .vsection, .header, .toggle-inner, .footer, .modal-header, .modal-body, .modal-footer, .btn, .list li, .modal-dialog, .modal-content {
  position: relative;
}

[class*="col-"], .vcontainer, .vcontainer-small {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.center-block, .vcontainer, .vcontainer-small, .main-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cf:after, .row:after, .vcontainer:after, .vcontainer-small:after, .vsection:after, .header:after, .toggle-inner:after, .footer:after, .modal-header:after, .modal-body:after, .modal-footer:after, .cf:before, .row:before, .vcontainer:before, .vcontainer-small:before, .vsection:before, .header:before, .toggle-inner:before, .footer:before, .modal-header:before, .modal-body:before, .modal-footer:before {
  content: "";
  display: table;
}
.cf:after, .row:after, .vcontainer:after, .vcontainer-small:after, .vsection:after, .header:after, .toggle-inner:after, .footer:after, .modal-header:after, .modal-body:after, .modal-footer:after {
  clear: both;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

[class*="col-"] {
  float: left;
}

@media (min-width: 1200px) {
  .vcontainer {
    width: 1170px;
  }
}
@media (min-width: 1200px) {
  .vcontainer-small {
    width: 970px;
  }
}

.vsection {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 1199px) {
  .vsection {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

@media (min-width: 1200px) {
  .pull-lg-right {
    float: right;
  }

  .text-lg-right {
    text-align: right;
  }

  .pull-lg-left {
    float: left;
  }
}
@media (max-width: 1199px) {
  .max-lg-negative {
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media (min-width: 1025px) {
  .pull-md-right {
    float: right;
  }

  .text-md-right {
    text-align: right;
  }

  .pull-md-left {
    float: left;
  }
}
@media (max-width: 1024px) {
  .max-md-negative {
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media (min-width: 768px) {
  .pull-sm-right {
    float: right;
  }

  .text-sm-right {
    text-align: right;
  }

  .pull-sm-left {
    float: left;
  }
}
@media (max-width: 767px) {
  .max-sm-negative {
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media (min-width: 480px) {
  .pull-xs-right {
    float: right;
  }

  .text-xs-right {
    text-align: right;
  }

  .pull-xs-left {
    float: left;
  }
}
@media (max-width: 479px) {
  .max-xs-negative {
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media (min-width: 320px) {
  .pull-exs-right {
    float: right;
  }

  .text-exs-right {
    text-align: right;
  }

  .pull-exs-left {
    float: left;
  }
}
@media (max-width: 319px) {
  .max-exs-negative {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.no-m {
  margin-bottom: 0 !important;
}

.block-inline, img, .header-text, .btn, .footer-b {
  display: inline-block;
}

/* =====================
End:  GRID SYSTEM
======================== */
/* ===================== 
Start: MAIN STYLES      
======================== */
body {
  color: #000;
  font-family: ProximaRegular;
  font-size: 18px;
  line-height: 1.42857;
}

img {
  max-width: 100%;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}

a, button {
  cursor: pointer;
}

/* ===================== 
Start: Connect fonts      
======================== */
@font-face {
  font-family: ProximaRegular;
  src: local("ProximaRegular"), url(../fonts/ProximaRegular.otf);
}
.regular, .h2, .main-form input, .modal-title {
  font-family: ProximaRegular;
}

@font-face {
  font-family: ProximaBold;
  src: local("ProximaBold"), url(../fonts/ProximaBold.otf);
}
.bold, .header-text, .btn {
  font-family: ProximaBold;
}

@font-face {
  font-family: ProximaLight;
  src: local("ProximaLight"), url(../fonts/ProximaLight.otf);
}
.light, .footer a, .modal-transparent .close {
  font-family: ProximaLight;
}

@font-face {
  font-family: ProximaBlack;
  src: local("ProximaBlack"), url(../fonts/ProximaBlack.otf);
}
.black_font {
  font-family: ProximaBlack;
}

/* =====================
End:  Connect fonts
======================== */
.h1 {
  line-height: 1.1;
  margin: 0 0 25px;
}
@media (min-width: 320px) {
  .h1 {
    font-size: 24px;
  }
}
@media (min-width: 768px) {
  .h1 {
    font-size: 36px;
  }
}
@media (min-width: 1025px) {
  .h1 {
    font-size: 50px;
  }
}

@media (min-width: 320px) {
  .h2 {
    font-size: 17px;
  }
}
@media (min-width: 768px) {
  .h2 {
    font-size: 18px;
  }
}

@media (min-width: 320px) {
  .h3 {
    font-size: 18px;
  }
}
@media (min-width: 480px) {
  .h3 {
    font-size: 24px;
  }
}
@media (min-width: 768px) {
  .h3 {
    font-size: 29px;
  }
}
@media (min-width: 1025px) {
  .h3 {
    font-size: 40px;
  }
}

.h4 {
  color: #272727;
}
.h4.s-m {
  margin-bottom: 25px;
}
.h4.b-m {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .h3 {
    margin-bottom: 20px;
  }
  .h3.m-m {
    margin-bottom: 50px;
  }
  .h3.b-m {
    margin-bottom: 70px;
  }
}
@media (max-width: 767px) {
  .h1, .h2 {
    margin: 15px 0;
  }
  .h3 {
    margin-bottom: 30px;
  }
}
.ttu {
  text-transform: uppercase;
}
.tdu {
  text-decoration: underline;
}
.tdn, .btn, .footer a {
  text-decoration: none;
}

.text-center, .h3, .toggle-inner-img, .footer, .modal-title {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

@media (max-width: 1199px) {
  .max-lg-center {
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .min-lg-right {
    text-align: right;
  }
}
@media (max-width: 1024px) {
  .max-md-center {
    text-align: center;
  }
}
@media (min-width: 1025px) {
  .min-md-right {
    text-align: right;
  }
}
@media (max-width: 767px) {
  .max-sm-center {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .min-sm-right {
    text-align: right;
  }
}
@media (max-width: 479px) {
  .max-xs-center {
    text-align: center;
  }
}
@media (min-width: 480px) {
  .min-xs-right {
    text-align: right;
  }
}
@media (max-width: 319px) {
  .max-exs-center {
    text-align: center;
  }
}
@media (min-width: 320px) {
  .min-exs-right {
    text-align: right;
  }
}
.transition, .btn, .btn-effect:before, .btn-effect-1:before, .main-form input {
  transition: all ease .5s;
}

.pseudo, .btn-effect:before, .btn-effect-1:before, .list li:after {
  content: "";
  position: absolute;
}

/* =====================
End:  MAIN STYLES
======================== */
/* ===================== 
Start: HEADER      
======================== */
.header {
  padding: 10px 0 25px;
  min-height: 50px;
  background: url("../img/header.jpg") 0 0 no-repeat;
  background-size: cover;
}
.header-text {
  padding: 0.5em 0;
  color: #ff8001;
}
@media (max-width: 1024px) {
  .header {
    padding-top: 40px;
  }
}
@media (min-width: 1025px) {
  .header-container-text {
    margin-top: 50px;
  }
}

/* =====================
End:  HEADER
======================== */
.btn {
  border: none;
  max-width: 100%;
  padding: 10px 40px;
  overflow: hidden;
  z-index: 2;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 18px;
}
.btn-effect-1:before {
  z-index: -1;
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.btn-effect-1:hover:before {
  height: calc(450% - 40px);
  opacity: 1;
}
@media (min-width: 768px) {
  .btn-single {
    margin-top: 70px;
  }
}
@media (max-width: 767px) {
  .btn-single {
    margin-top: 35px;
  }
}

.list li:after {
  top: 0;
}
@media (min-width: 768px) {
  .list li {
    margin-bottom: 15px;
  }
  .list li:after {
    left: 0;
  }
}
@media (max-width: 767px) {
  .list li {
    text-align: center;
    margin-bottom: 30px;
  }
  .list li:after {
    left: 50%;
  }
}
@media (min-width: 768px) {
  .list-cancel li {
    padding-left: 50px;
  }
}
@media (max-width: 767px) {
  .list-cancel li {
    padding-top: 40px;
  }
  .list-cancel li:after {
    margin-left: -18.5px;
  }
}
.list-cancel li:after {
  width: 37px;
  height: 37px;
  background: url("../img/cancel.png") 0 0 no-repeat;
  background-size: cover;
}

.toggle-subtitle-no-margin .subtitle {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .toggle-inner-big-margin {
    margin-bottom: 150px;
  }
  .toggle-inner-big-margin:last-child {
    margin-bottom: 75px;
  }
  .toggle-inner-small-margin {
    margin-bottom: 50px;
  }
  .toggle-inner-small-margin:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .toggle .toggle-inner-right:nth-child(odd) .toggle-inner-img,
  .toggle .toggle-inner-right:nth-child(even) .toggle-inner-text,
  .toggle .toggle-inner-left:nth-child(odd) .toggle-inner-text,
  .toggle .toggle-inner-left:nth-child(even).toggle-inner-img {
    float: right;
  }
  .toggle .toggle-inner-right:nth-child(even) .toggle-inner-text .subtitle, .toggle .toggle-inner-right:nth-child(even) .toggle-inner-text p {
    text-align: right;
  }
}

.vertical-image:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.vertical-image img {
  max-height: 100%;
  vertical-align: middle;
}

.main-form {
  width: 100%;
}
@media (min-width: 768px) {
  .main-form {
    width: 300px;
  }
}
.main-form input {
  border: 1px solid #eeeeee;
  border-radius: 5px;
  display: inline-block;
  text-align: left;
  width: 100%;
  max-width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  color: #000;
  font-size: 15px;
  outline: none;
  box-shadow: 0px 0px 10px 1px rgba(253, 188, 48, 0.17);
}
.main-form .btn {
  width: 100%;
}

/* ===================== 
Start: START FOOTER      
======================== */
.footer {
  padding: 10px 15px;
  background-color: #131313;
}
.footer-b {
  vertical-align: middle;
  margin: 0 15px;
}

/* =====================
End:  START FOOTER
======================== */
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}

.modal {
  display: none;
  overflow: hidden;
  z-index: 99999999999;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-fixed, .modal, .modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.modal-open {
  overflow: hidden;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-transparent {
  background-color: rgba(0, 0, 0, 0.9);
}
.modal-transparent .modal-content {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.modal-transparent .close {
  color: #fff;
}
@media (min-width: 768px) {
  .modal-transparent .close {
    top: -15px;
    right: -85px;
    font-size: 80px;
  }
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-dialog {
  width: 100%;
  margin: 70px auto;
}
.modal-content {
  background-color: #fff;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
}
.modal-backdrop {
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
.modal-header, .modal-body, .modal-footer {
  padding: 15px;
}
.modal .close {
  background-color: transparent;
  border: none;
  font-size: 40px;
  text-align: right;
  float: right;
  position: absolute;
  top: 0px;
  right: 0px;
}
.modal-title-text {
  text-align: center;
  padding: 5px;
  margin-top: 25px;
}
.modal ul li {
  margin-bottom: 10px;
  padding-left: 10px;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 400px;
  }
  .modal-dialog-big {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }
}
