include ../helpers/data
include ../helpers/mixins
include ../bem/index
.vrow.flex-v-center
	.vak.xs-8.md-3
		.vnav__logo
			+b.hamburger(type="button" id="js-vnav__btn")
				+e.SPAN.lines
					span
					span
					span
				//+e.SPAN.text Menu
			.inline-block
				img(src="img/logo.png" alt="")
	nav.vnav__menu.vak.xs-12.md-6#navigation
		ul
			for item in navigation
				+menu-item('true', item.link, item.name)
			+menu-item
				+b.BUTTON.vbtn._navigation(data-func="vmodal" data-content="#vmodalForm" data-id="ModalID" data-title="test") Button
	.vak.xs-4.md-3.vnav__text#js-nav-text
		.vnav__text-toggle.js-vnav-toggle
			span
			span
			span
		.vnav__text-links.js-vnav-links
			a.vnav__text-links-inner +38 (093) 961 33 54
			a.vnav__text-links-inner.vnav__text-links-inner_hidden +38 (093) 961 33 54