// EXAMPLE OF FORM
.vmodal.fade#modalform
	.vmodal-dialog
		.vmodal-content
			.vmodal-header
				button(type="button" class="vmodal-close" data-close="vmodal") &times;
				p.vmodal-title Заголовок_формы
				p.vmodal-p Текст_формы
			.vmodal-body
				form(action="" class="vmain-form")
					input(type="text" placeholder="Имя")
					input(type="email" placeholder="E-mail")
					input(type="text" placeholder="Телефон")
					button.vbtn.vbtn-effect-bounce-top.vbtn-corp Получить!
			.vmodal-footer.text-center
				p.text_smaller *Ваши данные <span class="bold">никогда не будут</span><br>переданы 3-м лицам