extends includes/layout
block variables
	- var title = "Main page";
	- var description = "description";
block content
	
block dev
	+b.BUTTON.vbtn._large._brand-1(data-func="vmodal" data-content="#vmodalForm" data-id="ModalID" data-title="test") Large button
	.vmodal__content#vmodalForm
		+b.FORM.vform(action="application.php" method="POST")
			+e.row._line._status
				+b.INPUT.vform-control(type="text" placeholder="Имя" data-rule="required noNumbers" name="name")
				+e.line
			+e.row._line._status
				+b.INPUT.vform-control(type="email" placeholder="E-mail" data-rule="required email" name="email")
				+e.line
			+e.row._line._status
				+b.INPUT.vform-control(type="text" placeholder="Телефон" data-rule="required" name="phone")
				+e.line
			+e.row.text-center
				+e.BUTTON.button.vbtn._main._large._brand-1(type="submit") Получить!