extends pug/layout
block variables
	+add-meta('Main File', 'Description')
block nav
	include pug/layouts/nav
block header
	include pug/layouts/header
block footer
	include pug/layouts/footer
block content
	include pug/sections/intro