doctype html
html(lang="ru")
  head
    title Project_names
    meta(name="description" content="1")
    include includes/header/head.pug
  body
    .vsection
      .vcontainer
        h1.h1 Что мне надо еще сделать: 
        ul
          li - Перенести все наработки на jade
          li - Разработать миксины для последующих проектов
          li - Разобраться с синтаксисом шаблонизатора
    button(class="vbtn vbtn-effect-shutter-vertical-out vbtn-corp" data-modal="vmodal" data-modal-target="#modalform") Забронировать место в онлайн группе
    .vmodal.fade#modalform
      .vmodal-dialog
        .vmodal-header
          button(type="button" class="vmodal-close" data-close="vmodal") &times;
          p.vmodal-title Заголовок_формы
          p.vmodal-p Текст_формы
        .vmodal-body
          form(action="" class="vmain-form")
            input(type="text" placeholder="Имя")
            input(type="email" placeholder="E-mail")
            input(type="text" placeholder="Телефон")
            button.vbtn.vbtn-effect-bounce-top.vbtn-corp Получить!
        .vmodal-footer.text-center
          p.text_smaller *Ваши данные <span class="bold">никогда не будут</span><br>переданы 3-м лицам