extends includes/layout
block title
	+headTitle("Project")
block content
	+b.BUTTON.vbtn._main(data-func="vmodal" data-content="#vmodalForm" data-id="ModalID" data-title="test") Button
block dev
	.vmodal__content#vmodalForm
		+b.FORM.vform(action="application.php" method="POST")
			+e.row._line._status
				+b.INPUT.vform-control(type="text" placeholder="Имя" data-rule="required noNumbers")
				+e.SPAN.line
			+e.row._line._status
				+b.INPUT.vform-control(type="email" placeholder="E-mail" data-rule="required email")
				+e.SPAN.line
			+e.row._line._status
				+b.INPUT.vform-control(type="text" placeholder="Телефон" data-rule="required")
				+e.SPAN.line
			+e.row.text-center
				button.vbtn.vbtn_main(type="submit") Получить!