.fixed{
  position: fixed;
  width: 100%;
  left: 0;
  &.bottom{
    bottom: 0;
  }
}
.development{
  padding: 15px;
  background-color: #000;
  color: #fff;
}
.test{
  @include pseudoBlock();
}
/*
  display: flex - отображение
  flex-direction - направление
  justify-content - выравнивание внутренних элементов
*/
.flex{
  &-parent{
    display: flex;
    flex-wrap: wrap;
    border: 15px solid #000;
  }
  &-child{
    height: 100px;
    width: 100px;
    padding: 0 7.5px;  
    text-align: center;
    margin-bottom: 15px;
  }
  &-inner{
    height: 100%;
    background-color: #ddd;  
    padding: 15px;
  }
}