.fixed{
  position: fixed;
  width: 100%;
  left: 0;
  &.bottom{
    bottom: 0;
  }
}
.development{
  padding: 15px;
  background-color: #000;
  color: #fff;
}
.test{
  @include pseudoBlock();
}
/*
  display: flex - отображение
  flex-direction - направление
  justify-content - выравнивание внутренних элементов
*/
.flex{
  &-parent{
    display: flex;
    flex-wrap: wrap;
    border: 15px solid #000;
  }
  &-child{
    height: 100px;
    width: 100px;
    padding: 0 7.5px;  
    text-align: center;
  }
  &-inner{
    height: 100%;
    background-color: setColor(corp);  
    padding: 15px;
  }
}
.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  > div{
    flex: 0 0 auto;
  }
  &-wrapper{
    padding: 15px;
    background-color: #0b6715;
  }
  &-menu{
    &-list{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      li{
        a{
          display: block;
          color: #fff;
        }
      }
    }
  }
}