.vnav__btn{
	@at-root {
		%vnav-btn-format{
			display: inline-block;
			vertical-align: middle;
		}
		%vbtn-menu-default{
			display: block;
			margin: auto;
			width: 24px;
			height: 4px;
			background-color: setColor(white);
			border-radius: 2px;
			@extend %vnav-transitionDef;
		}
		&.active{
			%vbtn-menu-default{
				background-color: setColor(main);
			}
		}
	}
	margin-right: 15px;
	padding: 0;
	background-color: transparent;
	border: none;
	@extend .outline-none;
	@extend .tap-transparent;
	@extend %vnav-transitionDef;
	@extend %vnav-btn-format;
	&-lines{
		position: relative;
		width: 24px;
		height: 20px;
		@extend %vnav-btn-format;
		@extend %vnav-transitionDef;
		span{
			display: block;
			position: absolute;
			left: 0;
			width: 100%;
			height: 4px;
			background-color: setColor(white);
			@extend %vnav-transitionDef;
			&:nth-child(1){
				top: 0;
				transform-origin: 3px 5px;
			}
			&:nth-child(2){
				top: 8px;
				opacity: 1;
			}
			&:nth-child(3){
				top: 16px;
				transform-origin: 1px -1px;
			}
		}
	}	
	&-text{
		margin-left: 15px;
		color: setColor(white);
		text-transform: uppercase;
		font-weight: bold;
		font-size: 18px;
		@extend %vnav-btn-format;
	}
	&.active &-lines{
		span{
			&:nth-child(1){
				transform: rotate(45deg);
			}
			&:nth-child(2){
				transform: translateX(-60px);
				opacity: 0; 
			}
			&:nth-child(3){
				transform: rotate(-45deg);	
			}
		}
	}
	@include resp-min(md){
		display: none;
	}
}