/* ===================== 
Start: COLUMNS      
======================== */
@include make-column(xs,"not-push","not-pull","not-offset");
@include resp-min(sm){
  @include make-column(sm,"not-push","not-pull","not-offset");
}
@include resp-min(md){
  @include make-column(md,"not-push","not-pull","not-offset");
}
@include resp-min(lg){
  @include make-column(lg,"not-push","not-pull","not-offset");
}

/* =====================
End:  COLUMNS
======================== */

/* ===================== 
Start: HIDDEN AND VISIBLE UTILITIES      
======================== */
@media (min-width: $lg) {
  @include visibility-hidden(lg);
  @include visibility-visible(lg);
}
@media (max-width: $lg-max) and (min-width: $md){
  @include visibility-hidden(md);
  @include visibility-visible(md);
}
@media (max-width: $md-max) and (min-width: $sm){
  @include visibility-hidden(sm);
  @include visibility-visible(sm);
}
@media (max-width: $sm){
  @include visibility-hidden(xs);
  @include visibility-visible(xs);
}
/* =====================
End:  HIDDEN AND VISIBLE UTILITIES
======================== */
%relative{
  position: relative;
}
%global-block{
  min-height: 1px;
  @include resp-min(sm){
    padding-left: $gutter;
    padding-right: $gutter; 
  }
  @include resp-max(sm){
    padding-left: $gutter / 2;
    padding-right: $gutter / 2; 
  }
  @extend %relative;
}
.clearfix{
  @include default-after();
  @extend %relative;
}
.row{
  @extend .clearfix;
}
[class*="col-"] {
  @extend %global-block;
  float: left;
  .h3{
    text-align: left;
    margin-bottom: 15px;
  }
}
.container, .container-inner{
  @extend %global-block;
  @extend .clearfix;
  margin-left: auto;
  margin-right: auto;
}
.container{
  @include resp-min(lg){
    width: $container;
  }
  &-inner{
    @include resp-min(lg){
      width: $container-small;
    }
  }
}
.padding-block{
  @include resp-min(sm){
    padding-top: 75px;
    padding-bottom: 75px;
  }
  @include resp-max(sm){
    padding-top: 50px;
    padding-bottom: 50px;
  } 
}
section{
  @extend .clearfix;
  @extend .padding-block;
  padding-left: 15px;
  padding-right: 15px;
  @extend %relative;
}

// @each $breakpoint-name, $breakpoint-value in $breakpoints{
//   @include resp-min(#{$breakpoint-name}){
//     .pull-#{$breakpoint-name}-right{
//       float: right;
//     }
//     .pull-#{$breakpoint-name}-left{
//       float: left;
//     }
//   }
// }