.vmodal#modalform
	.vmodal-dialog.vmodal-dialog-default.vmodal-dialog-center
		button(type="button" class="vmodal-close" data-close="vmodal") &times;
		.vmodal-box
			p.vmodal-title Отправить заявку
			.vmodal-body
				form(action="" class="vmain-form")
					.vmain-form-row.vmain-form-input-wrap
						input(type="text" placeholder="Имя")
						span.vmain-form-line
					.vmain-form-row.vmain-form-input-wrap
						input(type="email" placeholder="E-mail")
						span.vmain-form-line
					.vmain-form-row.vmain-form-input-wrap
						input(type="text" placeholder="Телефон")
						span.vmain-form-line
					.vmain-form-row.vmain-form-btn-wrap
						button.vbtn.vbtn-effect-bounce-top(type="submit") Получить!