.transition{
  transition: all ease .5s;
}
.pseudo{
  @include pseudo();
}
.btn {
  border: none;
  max-width: 100%;
  padding: 10px 40px;
  overflow: hidden;
  z-index: 2;
  @include border(3px);
  @extend .relative;
  @extend .block-inline;
  @extend .tdn;
  @extend .bold;
  @extend .transition;
  @include size(text_default);
  //@include color("white");
  &-effect{
   &:before{
      @extend .pseudo;
      @extend .transition;
      z-index: -1;
      width: 100%;
      height: 0;
      top: 50%;
      left: 50%; 
      opacity: 0;
      @include transform(translateX(-50%) translateY(-50%) rotate(45deg));
    }   
    &:hover{
      &:before{
        height: calc(450% - 40px);
        opacity: 1;
      }
    }
  }
  &-single{
    @include resp-min(sm){
      margin-top: 70px;
    }
    @include resp-max(sm){
      margin-top: 35px;
    }
  }
}
.toggle{
  &-subtitle-no-margin{
    .subtitle{
      margin-bottom: 0;
    }
  }
  &-inner{
    @extend .cf;
    @include resp-min(sm){
      &-big-margin{
       margin-bottom: 150px;
        &:last-child{
          margin-bottom: 75px;
        }
      }
      &-small-margin{
        margin-bottom: 50px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
    &-img{
      @extend .text-center;
    }
  }
  @include resp-min(sm){
    //ODD - нечетное
    .toggle-inner-right:nth-child(odd) .toggle-inner-img,
    .toggle-inner-right:nth-child(even) .toggle-inner-text,
    .toggle-inner-left:nth-child(odd) .toggle-inner-text,
    .toggle-inner-left:nth-child(even).toggle-inner-img {      
        float: right;
    }
    .toggle-inner-right:nth-child(even){
      .toggle-inner-text{
        .subtitle,p{
          text-align: right;
        }
      }
    }   
  }
}
.list{
  li{
    position: relative; 
    &:after{
      content: "";
      position: absolute;
      top: 0;
    }
    @include resp-min(sm){
      margin-bottom: 15px;
      &:after{
        left: 0;
      }
    }
    @include resp-max(sm){
      text-align: center;
      margin-bottom: 30px;
      &:after{
        left: 50%;
      }
    }
  }
  &-cancel{
    li{
      @include resp-min(sm){
        padding-left: 50px;
      }
      @include resp-max(sm){
        padding-top: 40px;
        &:after{
          margin-left: -18.5px;
        }
      }
      &:after{
        width: 37px;
        height: 37px;
        @include bg("../img/cancel.png", 0 0, no-repeat, cover);
      }
    }
  }
}
.vertical-image{
  &:before{
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;   
  }
  img{
    max-height: 100%;
    vertical-align: middle;   
  }
}
.main-form{
  width: 100%;
  @include resp-min(sm){
    width: 300px;
  }
  @extend .center-block;
  input{
    border: 1px solid #eeeeee;
    border-radius: 5px;
    display: inline-block;
    text-align: left;
    width: 100%;
    max-width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    color: #000;
    font-size: 15px;
    outline: none;
    box-shadow: 0px 0px 10px 1px rgba(253, 188, 48, 0.17);
    @extend .regular;
    @extend .transition;
    &:focus{
      //border-color: map-get($colors, "corporative");
    }
  }
  .btn{
    width: 100%;
  }
}