/* ===================== 
Start: HEADER      
======================== */
.header {
	@extend .cf;
	padding: 10px 0 25px;
	min-height: 50px;
	@include bg('../img/header.jpg');
	&-phone{
		@extend .block-inline;
		padding: 0.5em 0;
		color: setColor(corp);
		@extend .bold;
		@include size(text_default);
	}
	&-menu{
		@extend .transition;
		li{
			display: inline-block;
			padding: 1em 0.5em;
 			vertical-align: middle;
			a{
				@extend .tdn;
				@extend .relative;
				color: inherit;
				&:after{
					top: 100%;
					left: 0;
					width: 0;
					height: 1px;
					background-color: setColor(corp);
					@include border(10px);
					@extend .pseudo;
					@extend .transition;
				}
				&:hover{
					&:after{
						width: 100%;
					}
				}
			}
		}
		&-hidden{
			display: block;
			
		}
	}
	&-inf{
		&-logo{
			padding: 7.5px;
		  background-color: #545454;
		  width: 100%;
		  img{
		  	max-width: 200px;
		  }
		}
		&-tagline{
			color: setColor(light);
		  font-size: 12px;
		  padding: 7.5px;
		  border-bottom: 1px solid setColor(black,dark);
		  @extend .ttu;
		  @extend .bold
		}
		&-btn{
			position: absolute;
			right: 5px;
			top: 5px;
			background-color: transparent;
			border: none;
			outline: none;
		  width: 25px;
		  height: 22px;
		  
			&:after,
			&:before{
				@extend .pseudo;
				left: 0;
				top: 20px;
				margin-top: -11px;
				display: block;
				width: 100%;
				height: 2px;
				background-color: setColor(corp);
			  transform-origin: 50% 100%;
			}
			&:before{
				@include transform(rotate(45deg));
			}
			&:after{
				@include transform(rotate(-45deg));
			}
		}			
	}
}
@include resp-min(md){
	.header{
		&-container-text{
			margin-top: 50px;
		}
	}
	.header-menu-hidden,
	.navbar-toggle{
		display: none;
	}
}
@include resp-max(md){
	.header{
		padding-top: 40px;
		&-menu{
			padding: 0;
	    display: block;
	    width: 100%;
	    height: 100%;
	    position: fixed;
	    left: -100%;
	    top: 0;
      background-color: #d8b38e;
	    z-index: 1000;
	    text-align: center;
	    li{
	    	display: block;
	    }
	    &-open{
	    	left: 0;
	    	overflow-y: auto;
			}
			&-push{
				left: 100%;
			}
		}
	}
	.navbar-toggle{
		position: fixed;
		top: -1px;
		right: -1px;
		z-index: 11;	
	  padding: 10px;
	  background-color: setColor(corp);
	  border: none;
	  transition: all ease .5s;
	  outline: none;
	  &-open{
	  	background-color: setColor(corp, light);
	  	.icon-bar-1{
	  		@include transform( rotate(45deg) translate(5px,5px) );
	  	}
	  	.icon-bar-2{
				opacity: 0;
	  	}
	  	.icon-bar-3{
	  		@include transform( rotate(-45deg) translate(4px, -3px) );
	  	}
	  }
		.icon-bar{
	    display: block;
	    width: 22px;
	    height: 2px;
	    background-color: setColor(black);
	    @include border(1px);
	    @include transition(all ease .25s);
	    transform-origin: 50% 100%;
	    &:not(.icon-bar-1){
	    	margin-top: 4px;
	    }
		}
	}
}

/* =====================
End:  HEADER
======================== */