// Colors

	$color-main: #F89406;

	$color-responsive-menu: #3949ab;

	$color-modal-main: #ED2553;

	$color-modal-trans: rgba(0, 0, 0, 0.1);

	$color-success: #5cb85c;

	$color-danger: #d9534f;

// Dependencies

	// Design form ( 'old' or 'new' )
	
		$design-form: 'new';

// Error, if not exists variable.
$error: "This variable we do not have, sorry. Please try to change variable"; 