doctype html
html(lang="ru")
	head
		include mixins
		include bem/index
		
		block title
			+headTitle("Default")
		block description
			+headDescription("Project_description")
		include head
		-
			set_bemto_settings({
				prefix: '',
				element: '__',
				modifier: '_'
			})
	body
		block nav
			+b.vnav._fixed._fixed-always
				+e.container.vcontainer__
					include nav
		main.main-wrapper
			block content
	block dev